.Wrapper {
    max-width: 900px;
    align-items: center;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
}

body {
    
    width: 100%;
    display: flex;
    justify-content: center;
}

.btn {
    color: white;
    appearance: none;
    border: 0,5;
    border-radius: 5px;
    background: #0000ff;
    padding: 8px 16px;
    font-size: 16px;
}
.btn:hover {
    background: #0000ab;
}

.btn-del {
    background-color: #ff0000;
}
.btn-del:hover {
    background-color: #ab0000;
}
.btn-done {
    color: black;
    align-self: 0 auto;
    background-color: #00ff00;
}
.btn-done:hover {
    background-color: #00ab00;
}


.hole {
    /*width: 778px;*/
    max-width: 700px;
    border: 1;
    border-radius: 5px;

    appearance: none;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;

    font-size: 16px;
    border-right-width: .800;
    
    margin-top: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
}


.tasks{
    border-radius: 10px;
    /*width: 100%;*/
    max-width: 820px;
    position: relative;
    background-color: #ffffff;
    
    margin-top: 10px;
}

.task{
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;

    border-radius: 5px;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #939697;
    cursor: pointer;
    background-color: #c5e1e6;
    height: 50px;
    margin-bottom: 8px;
    
    display: flex;
}
.taskname{
    font-family: 'Poppins',sans-serif;
    font-size: 15px;
    font-weight: 400;
    text-align: center;
}